<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TodoApp</title>

	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>

	<header th:insert="~{fragments/menu :: menu-principal}"></header>

	<section class="container">
		<div class="vh-100 d-flex flex-column justify-content-center">
			<div class="mb-4 text-center">
				<h1>Bienvenidos a <span class="text-primary">TodoApp</span> <span sec:authorize="isAuthenticated()" class="fw-bold" th:text="${usuario}"></span> </h1>
				<p>Escribe y guarda tus tareas rápidos y fácil.</p>
			</div>

			<div sec:authorize="isAnonymous()" class="d-flex justify-content-center column-gap-3">
				<a class="btn btn-primary" th:href="@{/login}">Iniciar sesión</a>
				<a class="btn btn-outline-primary" th:href="@{/signup}">Registrarse</a>
			</div>
		</div>
	</section>
	
	
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
